.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #121212;
}

.title {
  margin-bottom: 0.5em;
}

.form-control {
  display: flex;
  flex-direction: column;
  height: 230px;
  width: 400px;
  background-color: #fff;
  color: #121212;
  padding: 20px 40px;
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;

}

.form label {
  font-weight: bold;
}

.form input {
  margin-bottom: 1em;
  height: 2.5em;
}

.button {
  background-color: #121212;
  cursor: pointer;
  color: #fff;
  margin-top: 1em;
   height: 2.5em;
}

.button:hover {
  color: #121212;
  background-color: #fff;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslategray;
  color: #fff;
  width: 400px;
  height: 100px;
  border-radius: 8px;
}

.result p {
  font-weight: bold;
  font-size: 1.2em;
}