header{
    width: 100%;
    height: 100px;
    background-color: #121212;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
}

header a {
    color: #fff;
    font-size: 14px;
}

header a + a {
    margin-left: 10px;
}